body,
.main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background: url("./images/your_verse_hero.jpg") no-repeat;
}
.nav-container {
  padding: 5em 0;
}
.nav {
  max-width: 980px;
  margin: 0 auto;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(0.05, rgba(0, 0, 0, 0)),
      color-stop(0.97, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.45))
    ),
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
  height: 36px;
  position: relative;
  border-radius: 5px;
}

.nav ul {
  width: 845px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-right: 1px solid rgb(90, 85, 85);
}
.logo {
  width: 21px;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.search {
  position: absolute;
  right: 0;
  top: 0;
  width: 106px;
  padding: 8px 13px;
  background: none;
  border-width: 0 2px 0 1px;
}

.search-bar {
  width: 100%;
  height: 20px;
  padding: 2px 18px 1px 22px;
  background: transparent;
  border-radius: 12px;
  border: none;
  box-shadow: inset 0px 0px 2px;
  box-sizing: border-box;
}
.fa-search {
  font-size: 11px;
  color: white;
  position: absolute;
  top: 12px;
  left: 18px;
  z-index: 2;
}
.search-bar:focus {
  background: #fff;
  background-size: 10%;
  width: 120%;
  float: left;
  border: none;
  margin-left: -20%;
  outline: none;
}
.search-bar:focus .fa-search {
  color: #000;
  left: 0px;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: -40px auto 10px;
  width: 55%;
  padding-bottom: 80px;
}

.banner-content h1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 200;
  color: #fff;
}
.banner-content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 200;
}
.banner-content a {
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none;
  transition: 0.5s ease-in;
  color: #fff;
}

.banner-content a:hover {
  border-bottom: 1px solid #fff;
}

.feature-items {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.feature-items > div {
  min-height: 200px;
  background-color: rebeccapurple;
  border: 1px solid;
}

footer {
  display: grid;
  grid-template-areas:
    "shop footer-nav"
    "copyright .";
  margin: 10px auto;
  width: 80%;
  grid-gap: 15px;
}
.shop {
  grid-area: shop;
}
.footer-nav {
  grid-area: footer-nav;
}
.footer-nav ul {
  display: flex;
  list-style: none;
}
.copyright {
  grid-area: copyright;
}
